@model List<TPLOCAL1.Models.Opinion>
<! DOCTYPE html>
<html>


    <head>
        <title>Formulaire</title>
        <link rel="stylesheet" href="~/resources/Form.css" />
    </head>


<body>
    @Html.Partial("_Header")
    <div>
        @Html.Partial("_Navigation")
        <table border="1">
            <thead>
                <tr>
                    <th colspan="3" style="text-align: center;">Liste</th>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Opinion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var opinion in Model)
                {
                    <tr>
                        <td>@opinion.LastName</td>
                        <td>@opinion.FirstName</td>
                        <td style="background-color: @(opinion.OpinionGiven == "O" ? "green" : "red");">
                            @(opinion.OpinionGiven == "O" ? "Oui" : "Non")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>